body {
  font-family: Montserrat, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 24px;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-self: center;
}

form label {
  align-self: flex-start;
  margin-bottom: 8px;
  color: purple;
}

form input {
  margin-bottom: 16px;
  border: 1px solid plum;
  border-radius: 5px;
  padding: 8px 16px;
}

.btn-submit {
  background-color: purple;
  border: 1px solid purple;
  color: plum;
  font-weight: 600;
  padding: 16px;
  border-radius: 5px;
  min-width: 10vw;
}

.pwd-container {
  position: relative;
}

.pwd-container input {
  width: 100%;
}

.pwd-container span {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 8px;
  color: plum;
}

button {
  cursor: pointer;
}

.results-card {
  background-color: bisque;
  padding: 24px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 24px;
}

.results-card span {
  padding-bottom: 12px;
}

footer {
  padding: 32px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  margin: 0 3px;
}
